<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a (click) = "getforumss()" class = "btn btn-info"> Forum List</a>
        </li>
        <li class = "nav-item">
         
            
    </ul>
  </nav>
<div class="col-md-6 offset-md-3">
    <h3> Create Forum </h3>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    
        <div class="form-group">
            <label> Title</label>
            <input type="text" formControlName="name" class="form-control mb-2"
                [(ngModel)] = "forum.titre" name = "firstName">
                <div *ngIf="m.name.touched && m.name.invalid" class="alert alert-danger">
                <div *ngIf="m.name.errors?.required">Please provide Titre</div>
                <div *ngIf="m.name.errors?.minlength">Name must be 3 characters</div>
        </div>
    </div>
        <div class="form-group">
            <label> Description</label>
            <input type="text" formControlName="name" class="form-control mb-2"
                [(ngModel)] = "forum.description" name = "lastName">
                <div *ngIf="m.name.touched && m.name.invalid" class="alert alert-danger">
                <div *ngIf="m.name.errors?.required">Please provide Description</div>
                <div *ngIf="m.name.errors?.minlength">Name must be 3 characters</div>
        </div>
        </div>
    
        
        <div class="d-grid mt-3">
        <button class = "btn btn-success" type ="submit">Submit</button>
    </div>
    </form>
    