<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
      
        <li class = "nav-item">
         
            <a (click) = "addreponse()" class = "btn btn-success"> add Reponse</a>
    </ul>
  </nav>
  <input
  type="text"
  class="form-control"
  placeholder="Search..."
  [(ngModel)]="filterTerm"
/>
<table class = "table table-striped">
    <thead>
        <tr>
            
            <th> Message </th>
            <th> Date </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let reponses of reponses| filter: filterTerm" >
          
            <td> {{ reponses.message }} </td>
            <td>{{  reponses.dateCreation | date: 'short' }}</td>
            
            <td>
               
                <button (click) = "deletereponse(reponses.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
               
                
                
            
               
    </tr>


</tbody>





</table>