<h3>View Evenement Details</h3>
<div class="container">
  <div class="row list-project">
      <div class="col-md-7">
          <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image" class="rounded tablet-top">
      </div>
      <!-- / column -->
      <div class="col-md-5">
          <div class="project-info-box mt-0">
              <h5>Description KIDZONE EVENT</h5>
              <p>Voici tous les informations relatives à l'événement <br> Veuillez trouvez ci-joint la description detaillée des événements </p>

          </div>
          <!-- / project-info-box -->

          <div class="project-info-box mb-10">
              <p><b>Nom Event:</b> {{evenement.nom_event}}</p>
              <p><b>description Event:</b> {{evenement.description_event}}</p>
              <p><b>Date Event:</b> {{evenement.date_event | date}}</p>
              <p><b>Heure Event:</b> {{evenement.heure_event | date :'shortTime'}}</p>
              <p><b>Lieu Event:</b> {{evenement.lieu_event}}</p>
              <p><b>Etat Event:</b> {{evenement.etat}}</p>
          </div>
          <!-- / project-info-box -->

          <a href="#" class="btn btn-primary d-block">Retour liste Events</a>
      </div>
      <!-- / column -->
  </div>
  <!-- / row list-project -->
  <!-- / row list-project -->
</div>
