<div class="col-md-6 offset-md-3">
    <h3> Add Reclamation </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Description</label>
            <input type="text" class ="form-control" id = "Description"
                [(ngModel)] = "rec.description" name = "Description">
        </div>
    
        <div class="form-group">
            <label> Date Reclamation</label>
            <input type="date" class ="form-control" id = "dateReclamation"
                [(ngModel)] = "rec.dateReclamation" name = "dateReclamation">
        </div>
        <div class="form-group">
            <label> Etat Reclamation</label>
            <input type="text" class ="form-control" id = "etatRecalmation"
                [(ngModel)] = "rec.etatRecalmation" name = "etatRecalmation">
        </div>
      
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
 