<form (ngSubmit)="onSubmit()">
  <h3>update event</h3>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">nom_event</label>
      <input name="nom_event" [(ngModel)]="evenement.nom_event" type="email" class="form-control" id="inputEmail4" placeholder="Event name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">description_event</label>
      <input name="'description_event" [(ngModel)]="evenement.description_event" type="inputCity" class="form-control" id="inputPassword4" placeholder="description_event">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">date_event</label>
    <input name="date_event" [(ngModel)]="dateString" type="date" class="form-control" id="inputAddress" placeholder="choose a date_event">
  </div>
  <div class="form-group">
    <label for="inputAddress2">heure_event</label>
    <input  name="heure_event" [(ngModel)]="timeString" type="time" class="form-control" id="inputAddress2" placeholder="choose an heure_event">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">lieu_event</label>
      <input name="lieu_event"[(ngModel)]="evenement.lieu_event" type="text" class="form-control" id="inputCity" placeholder="choose lieu_event">
    </div>

  </div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCity2">Upload_image</label>
    <input type="file" class="form-control" id="inputCity" placeholder="choose lieu_event">
  </div>

</div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-success" type="submit">Modify Event</button>
</form>
